@import 'tailwindcss';
@import './components.css';

/* Utilidades personalizadas que extienden Tailwind */
@layer utilities {
  .text-contrast-high {
    color: var(--color-gray-800);
  }
  .text-contrast-medium {
    color: var(--color-gray-600);
  }
  .text-contrast-low {
    color: var(--color-gray-550);
  }
  .icon-contrast-low {
    color: var(--color-gray-550);
  }
  .icon-contrast-medium {
    color: var(--color-gray-600);
  }
}
